.archetype-icon-bar {
    border: 1px solid white;
    width: 80%;
    border-radius: 6px;
    display: flex;
    height: 36px;
    margin-left: 24px;
    margin-top: 12px;
    
 

}

.archetype-list {
    width: 100%;
}

.archetype-icon { 
    position: relative;
    bottom: 7px;
    height: 26px;
    width: 26px;
}

.archetype-icon img {
    height: 100%;
    width: auto;
}