/* src/components/OnboardingMeshTraversalPanel.css */
.traversal-panel-container {
  position: fixed;
  bottom: 80px;
  left: 310px;
  z-index: 8;
  width: calc(100vw - 320px);
  padding: 6px;
  height: 22px;
  pointer-events: auto;
  background-color: transparent;
}

.traversal-panel-inner {
  width: 100%;
  color: white;
  border-radius: 12px;
  padding: 12px;
}

.traversal-controls-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 0px;
}

.traversal-controls-left {
  flex: 0 0 auto;
}

.traversal-controls-middle {
  flex: 1 1 auto;
  text-align: center;
  min-height: 22px;
}

.traversal-controls-right {
  min-width: 350px;
  display: flex;
  justify-content: space-between;
}

.rev-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22px;
    font-family: 'futura';
    letter-spacing: 2px;
    background-color: transparent;
    text-align: center;
}

.rank-button {
    height: 46px;
    width: 136px;
    background-color: rgba(90, 255, 180, 0.66);
    color: white;
    border-style: none;
    border: 1px solid white;
    border-radius: 6px;
    backdrop-filter: blur(6px);
    cursor: pointer;
}

.disabled-rank-button {
    background-color: rgba(0, 0, 0, 0.25);
    border-style: none;
    border: 1px solid rgb(255, 255, 255, .5);
    border-radius: 6px;
    height: 46px;
    width: 136px;
    color: rgb(255, 255, 255, .5);
    backdrop-filter: blur(6px);
    cursor: not-allowed;
}

.sequential-button {
    height: 46px;
    width: 136px;
    background-color: rgba(180, 140, 255, 0.75);
    color: white;
    border-style: none;
    border: 1px solid white;
    border-radius: 6px;
    backdrop-filter: blur(6px);
    cursor: pointer;
}