.onboarding-side-panel {
    width: 30vw;
    max-width: 360px;
    height: 95vh;
    top: 2.5vh;
    position: fixed;
    right: 0;
    margin-right: 10px;
    overflow-y: auto;
    z-index: 50;
}

.onboarding-side-panel-button {
    display: block;
    width: 100%;
    text-align: left;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 12px;
    padding: 4px 12px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}