.rev-detail, .loading-panel{
    min-width: 375px;
    max-width: 375px;
    padding: 0;
    height: 85vh;
    overflow: scroll;
    position: relative;
    color: #fff;
    background-color: rgb(34, 34, 34, .5);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    font-family: "Satoshi-Regular";
    animation: open 1s ease;
}

@keyframes open {
    0% {
        height: 0vh;
        width: 0px;
    } 100% {
        height: 85vh;
        width: 375px;
    }
}

.empty-panel {
    height: 40px;
    width: 40px;
    position: fixed;
    background-color: rgba(255, 255, 255, .25);
    border: 1px solid white;
    border-radius: 12px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    text-align: center;
    line-height: 35px;
    font-family: 'futura';
    backdrop-filter: invert(100%) blur(3px);
    z-index: 12;
    box-shadow: 
               -4px -4px 10px rgb(255, 255, 255, .5), /* Darker inner shadow */
               2px 2px 10px rgb(181, 191, 198, .8); /* Lighter inner shadow */

}

.rev-icon {
    height: 40px;
    width: 40px;
}

.rev-content-view {
    padding: 0 24px;
    z-index: 1;
    position: relative;
    padding-bottom: 24px;
}

.rev-panel-title-bar {
    padding: 12px 24px;
    position: sticky;
    top: 0;
    height: 52px;
    width: 375px;
    background-color: rgb(34, 34, 34, 1);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dna-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 20;
    cursor: pointer;
    padding: 6px;
}

.dna-button-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 20;
    cursor: pointer;
    color: rgb(165, 226, 66);
    border: 2px solid rgb(165, 226, 66);
    border-radius: 12px;
    padding: 4px;
    box-shadow: 5px 5px 10px rgb(165, 226, 66, .25),
            -5px -5px 10px rgb(165, 226, 66, .25);
}

.dna-button-selected:hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 20;
    cursor: pointer;
    color: rgb(164, 37, 14);
    border: 2px solid rgb(164, 37, 14);
    border-radius: 12px;
    padding: 4px;
    box-shadow: 5px 5px 10px rgb(164, 37, 14, .25),
            -5px -5px 10px rgb(164, 37, 14, .25);
}

.dna-button:hover {
    border: 1px solid white;
    padding: 5px;
    border-radius: 12px;
}

.dna-icon {
    height: 28px;
}

.content-field-title {
    color: #666;
    font-family: "Satoshi-Light";
    font-size: 12px;

}

.lineage-rank {
    margin-left: 6px;
    letter-spacing: 2px;
    transform: scale(1.25, 1.75)
}

.rev-panel-title {
    text-align: left;
    font-family: "Satoshi-Bold";
    font-size: 18px;
}

.rev-panel-axiom {
    font-family: "Satoshi-Italic";
    font-size: 36px;
    margin-top: 12px;
    line-height: 40px;
}

.rev-panel-body {
    margin-top: 24px;
    font-family: "Satoshi-Regular";
    font-size: 14px;
    line-height: 22px;
}

.axiom-quotations {
    font-family: "Satoshi-Bold";
    color: #315071;
    margin-left: 12px;
    margin-right: 12px;

}

.archetype-list {
    list-style: none;
    display: flex;
    width: 100%;
    margin-top: 12px;

}

.archetype-chip {
    width: 36px;
    height: 36px;
}

.archetype-chip img {
    height: 100%;
    width: auto;
}