
.rev-list-item, .selected-rev-list-item {
    padding: 12px 12px;
    height: auto;
    margin-top: 19px;
    margin-bottom: 19px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Satoshi-Regular';
    color: rgba(255, 255, 255, .66);
    background-color: rgb(34, 34, 34, .33);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    user-select: none;
    border: 1px solid rgb(229, 239, 244, .25);
    transition: .33s ease-in-out;
    text-rendering: optimizeLegibility;
}
.list-item-selection-bar-container {
    width: 100%;
    position: absolute;
    bottom: -2px;
    display: flex;
    justify-content: center;
}

.list-item-selection-bar {
    height: 1px;
    width: 20px;
    position: relative;
    left: -10px;
    transition: .33s ease-in-out;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.rev-list-item:hover > .list-item-selection-bar-container .list-item-selection-bar {
    width: 100px;
    height: 4px;
}

.selected-rev-list-item > .list-item-selection-bar-container .list-item-selection-bar  {
    width: 200px;
    height: 6px;
    top: 1px;
}