.views-toggle-button-container {
    display: flex;
    flex-direction: column;
    height: 75px;
    position: fixed;
    right: 50%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    top: 17px;
}

.views-toggle-button {
    left: 50%;
    right: 50%;
    z-index: 100;
    height: 41px;
    width: 41px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 
               -4px -4px 10px rgb(255, 255, 255, .5), /* Darker inner shadow */
               2px 2px 10px rgb(181, 191, 198, .8); /* Lighter inner shadow */
}

.view-label {
    color: white;
    text-align: center;
    height: 20px;
    width: 180px;
    transform: translateX(-70.5px) scale(1, 1.25); /*difference btwn button width and label width /2*/
    margin-top: 10px;
    letter-spacing: 6px;
    font-size: 12px;
    font-family: "Satoshi-Light";
    margin-left: 4px; /*half letter spacing value +1px to preserve centering*/
    text-transform: uppercase;
}

.hexagon-toggle {
    position: relative;
    margin-left: 26px;
    width: 12px;
    height: 11px;
    clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
    background-color: #fff;
}

.views-toggle-button:hover {
    box-shadow: 
               -4px -4px 10px rgba(153, 242, 128, 0.6), /* Darker inner shadow */
               2px 2px 10px rgba(208, 244, 149, 0.8); /* Lighter inner shadow */
}

.views-toggle-button:hover > .hexagon-toggle {
        background-color: #d5edb9;
        box-shadow: 
        inset 5px 5px 5px rgba(58, 73, 34, 0.6),
        inset -5px -5px 5px rgba(153, 242, 128, 0.6);
}

.hex-1 {
    transform: translateX(-17px) translateY(10px) scale(1.1);
}

.hex-2 {
    transform: translateX(-6px) translateY(1px) scale(.75);
}
.hex-3 {
    transform: translateX(-11px) translateY(-1px) scale(.95);
}

.hex-4 {
    transform: translateX(-2px) translateY(-14px) scale(.4);
}
.hex-5 {
    transform: translateX(-20px) translateY(-24.5px) scale(.5);
}
.view-button-container {
    display: flex;
    width: 70px;
    justify-content: space-between;
    position: relative;
    top: -64px;
    left: 70px;
}
.view-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    padding: 4px 8px;
    font-family: "futura";
    cursor: pointer;
}



.view-toggle-active {
    background-color: rgba(97, 228, 217, 0.25);
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    padding: 4px 8px;
    font-family: "futura";
    cursor: pointer;
}