.mesh-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#right {
    position: fixed;
    right: 12px;
    top: 90px;
    z-index: 1;
}

#left {
    position: fixed;
    left: 12px;
    z-index: 1;
}
